@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.App {
  width: 1440px;
  height: 1024px;
  position: relative;
  margin: 0 auto;
}

.elsie-swash-caps-black {
  font-family: "Elsie Swash Caps", serif;
  font-weight: 900;
  font-style: normal;
}

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 900;
  font-style: normal;
}