.inputs {
    border-radius: 20px;
    background: #D9D9D9;
    position: absolute;
    box-sizing: border-box;
    font-size: 32px;
    padding: 20px;
    transition: background-color 1s;
}

.inputName {
    width: 224px;
    height: 74px;
    left: 487px;
    top: 254px;
}

.inputBirth {
    width: 224px;
    height: 74px;
    right: 488px;
    top: 254px;
}

.inputOneDetail {
    width: 466px;
    height: 74px;
    border-radius: 15px;
    left: 487px;
    top: 358px;
}

.inputDetails {
    width: 466px;
    height: 294px;
    border-radius: 15px;
    left: 487px;
    top: 458px;
    font-weight: bold;
}

.buttonUserInfo {
    width: 224px;
    height: 74px;
    position: absolute;
    border-radius: 40px;
    background: #508c9b;
    left: 608px;
    top: 780px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-align: center;
    line-height: 74px;
    font-size: 32px;
    color: white;
}

.buttonUserInfo:hover {
    background-color: #134b70;
}

.inputs:focus {
    background-color: #1a1a1d;
    color: white;
}